In [1]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns

In [2]:
api_key = "AIzaSyAa9d4WNmePp2DMHmEfIsAR3mOibkHPPEQ"


channel_ids = ['UCnz-ZXXER4jOvuED5trXfEA', # techTFQ
               'UCLLw7jmFsvfIVaUFsLs8mlQ', # Luke Barousse 
               'UCiT9RITQ9PW6BhXK0y2jaeg', # Ken Jee
               'UC7cs8q-gJRlGwj4A8OmCmXg', # Alex the analyst
               'UC2UXDak6o7rBm23k3Vv5dww' # Tina Huang
              ]

youtube = build('youtube', 'v3', developerKey=api_key)

functions to get channel statatics

In [3]:
##functions to get channel statatics

def get_channel_stats(youtube, channel_ids):
    all_data = []
    request = youtube.channels().list(
                part='snippet,contentDetails,statistics',
                id=','.join(channel_ids))
    response = request.execute() 
    
    for i in range(len(response['items'])):
        data = dict(Channel_name = response['items'][i]['snippet']['title'],
                    Subscribers = response['items'][i]['statistics']['subscriberCount'],
                    Views = response['items'][i]['statistics']['viewCount'],
                    Total_videos = response['items'][i]['statistics']['videoCount'],
                    playlist_id = response['items'][i]['contentDetails']['relatedPlaylists']['uploads'])
        all_data.append(data)
    
    return all_data

In [4]:
channel_statistics = get_channel_stats(youtube, channel_ids)

In [5]:
channel_data = pd.DataFrame(channel_statistics)

In [6]:
channel_data

,Channel_name,Subscribers,Views,Total_videos,playlist_id
0,Luke Barousse,264000,11636344,81,UULLw7jmFsvfIVaUFsLs8mlQ
1,Alex The Analyst,311000,12240800,175,UU7cs8q-gJRlGwj4A8OmCmXg
2,techTFQ,132000,6214825,77,UUnz-ZXXER4jOvuED5trXfEA
3,Tina Huang,411000,16538829,110,UU2UXDak6o7rBm23k3Vv5dww
4,Ken Jee,224000,7137423,241,UUiT9RITQ9PW6BhXK0y2jaeg

functions to get video id

In [7]:
channel_data['Subscribers'] = pd.to_numeric(channel_data['Subscribers'])
channel_data['Views'] = pd.to_numeric(channel_data['Views'])
channel_data['Total_videos'] = pd.to_numeric(channel_data['Total_videos'])
channel_data.dtypes

Channel_name    object
Subscribers      int64
Views            int64
Total_videos     int64
playlist_id     object
dtype: object

In [8]:
playlist_id = channel_data.loc[channel_data['Channel_name']=='Ken Jee', 'playlist_id'].iloc[0]

In [9]:
def get_video_ids(youtube, playlist_id):

    request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = playlist_id,
                maxResults=50)
    response = request.execute()

    video_ids = []

    for i in range(len(response['items'])):
        video_ids.append(response['items'][i]['contentDetails']['videoId'])

    next_page_token = response.get('nextPageToken')
    more_pages = True
    
    while more_pages:
        if next_page_token is None:
            more_pages = False
        else:
            request = youtube.playlistItems().list(
                        part='contentDetails',
                        playlistId = playlist_id,
                        maxResults = 50,
                        pageToken = next_page_token)
            response = request.execute()
            for i in range(len(response['items'])):
                video_ids.append(response['items'][i]['contentDetails']['videoId'])
            next_page_token = response.get('nextPageToken')
            
    return video_ids

In [10]:
video_ids = get_video_ids(youtube, playlist_id)

In [11]:
video_ids

['4_VtMWJSo1o',
 'OybXWl3IWvI',
 'nRHPQ5ZeB5Y',
 '0JWC4M0Qhqc',
 'oNvyvYGw5n4',
 'GaZRuchRCyw',
 'EBjYqC3aNTA',
 'QMP858aZcow',
 '0ItYIoOrrUs',
 'KzTFoUbThvM',
 'bBJd0oPdNak',
 'Yk-unX4KnV4',
 'z0_xrtFdFj8',
 'vVpkXEIn-q0',
 'aipz4p7GDL4',
 'iPdO9MwdcLE',
 'YPph59-rTxA',
 '-2U2CMYom00',
 'KEeUR8UDy-s',
 '0jTtHYie3CU',
 '2RWwN5ZT4tA',
 'rEWPqw6rMGI',
 'o-wsyxWbPOw',
 'xpIFS6jZbe8',
 '-zbLpoJVBMI',
 'scSc6YSanQ0',
 'FqNpDNmpcEo',
 'vwvdtXMcNzI',
 '2qVWurPFwfc',
 '35g8fCi-kbw',
 'n6MiRgxN5iA',
 'ammCGdzSoag',
 '15c7WD-lKUY',
 'TjGFBQC27ng',
 'qUK5Vk4NvBw',
 'cnqTU6eJwH0',
 'k8YxyrcAXJs',
 'VvnOXDCVm8k',
 '68GGPK3WaqI',
 'S4Lei5mOppc',
 'tG_UW_p0UqE',
 '143WWA5Sy9k',
 's1gD35Z4eUc',
 'nrEJGGxcoTc',
 'KfpOuSH9gDc',
 'sICJ6a2wX5g',
 'iiSZqsQKNX8',
 'IoUWD1h6xUs',
 '7JCterBrcvk',
 'KU__lDJj5iU',
 '8nTmuKI2oyA',
 'SaWxVk7rDp4',
 'n7kjelw9s2w',
 '8Pi36Nj6P9A',
 'hOUrxTeBJQc',
 '-ONQ628CXKQ',
 'sHRq-LshG3U',
 'EMq4PH7PCeA',
 'BlSrorP32WM',
 'pPfw2fzwNiM',
 'hcHSSyHbgMQ',
 'ITAxTid_1YU',
 'fU3DOXjwufg',
 'tJI-1mHeXoA',
 'SVtRsDhHlDk',
 'OtqQYqRNDGI',
 'uic34RTaI-w',
 'GO420aMtHfk',
 'KQ80oD_boBM',
 'r-DR9HBaipU',
 'qV_AlRwhI3I',
 '41Clrh6nv1s',
 'YR9Faf1uZDg',
 'myhoWUrSP7o',
 'ji7DtgUeKCI',
 '4039x4r-hGE',
 '78LjdAAw0wA',
 'yUrrf3Pm33s',
 'domVw8isGOI',
 '_0rHU6qAQe0',
 'tnpV1etgcxs',
 'Uf0dO-pgOrk',
 'N97MhZEp2UQ',
 '1Ir1NgCuI0Y',
 'd6FeV8WXPWY',
 'WRF_dKZ_i24',
 'UpaEjBOMNqs',
 'UKuK2fXu_dU',
 'Ft4GVkQQtgk',
 'BBDiadC8BvE',
 '7VcdvSyoxnc',
 '8Vxjp2KVHqs',
 'Kq9dkZu0bpg',
 'omdhf8d53FM',
 'apf6A3Nstm8',
 'jf3j0lWmFPU',
 'g7on3Rw0Ovg',
 'rLawTH--l2Y',
 '-pdXWmj9xxU',
 'vfV4nm004VQ',
 'oHUD2T_VXfI',
 'uXLnbdHMf8w',
 '5v_ulmGv-gc',
 'q6Lf2yhvluw',
 'iGUiLWFDWfk',
 'SsGKZe4dVyk',
 'RAMxzqSMDKE',
 'YbTMIxjk4hI',
 'S_CuB__nsmI',
 'KEBVcVwFzaI',
 'vQGJvmhpq_s',
 'Xgg7dIKys9E',
 'UuR3nomI5AE',
 '6tQtwqthUMI',
 'QN3wXPZSjpE',
 'rdo8YBasqqA',
 '_rbrdNTpZGo',
 'ELFGsNqZrlM',
 'PWmxLYTixAM',
 'I3FBJdiExcg',
 'hO_YKK_0Qck',
 '2KkrtG5IsHo',
 'QQLToUlgN7A',
 '6aaIbd-GpZs',
 'lsXWVPzwZPk',
 'AqPquogHwq0',
 '742LQ38OioU',
 'B1g_yMKpdwo',
 'zGlJ-QndG8E',
 '6fwyyRgZlD0',
 '-3d1NctSv0c',
 'WnB1jsDu900',
 'XjC3FPL-S78',
 'txR8_jGi0Ls',
 '4qZINLzwYyk',
 'mR2NCRgtLPE',
 'mEZ1Hj5yQ-8',
 'HJH0gfY6EUg',
 'BZFfNwj7JhE',
 '_K6cNdgN3CI',
 '1aXk2RViq3c',
 'UcilY6HDuL8',
 'jam0xApfC-U',
 '4OZip0cgOho',
 'QBIe4nbmZfA',
 'KHAuuOQui2U',
 'DW55gaQ_Egk',
 'lUUqrRgerd8',
 'ei1m5lDQyBg',
 '9D7GzskcyUk',
 'agHKuUoMwvY',
 'nUOh_lDMHOU',
 '7O4dpR9QMIM',
 'QWgg4w1SpJ8',
 'fhi4dOhmW-g',
 'GmW4F6MHqqs',
 'MpF9HENQjDo',
 '9ZwVqXUHf6o',
 'a3VWq9smqhM',
 'oMdVg6GPODA',
 'vy-R4oUZaC8',
 'XGBigjVy2Eo',
 'hpMc6TgT34I',
 'Fs_LG5Y8GIU',
 'Ip50cXvpWY4',
 'imMPnCHvbkY',
 '3bes4U4MHPg',
 'qP0hRF-lGqg',
 'aaAZXeuPIXk',
 'C4OPn58BLaU',
 '8igH8qZafpo',
 'xjhW1rSQeik',
 'DM1eE_Coh6g',
 'f6NPw582FFc',
 'dlZWB2D-NaQ',
 'foggudmDDvY',
 'n3vw0M5RrPU',
 '2OnXytYziF0',
 'Q9FjwzKFPuM',
 'VN12ZPFsApM',
 'WKXtTo7lqmA',
 '9-2OKLZfvbE',
 '3TrAYmrmA8o',
 '5SjK6YCs4o4',
 'iqG59TqfFdY',
 'NCyPY-jfb3I',
 'DopikusDfk0',
 'm5pwx3hgtzM',
 '74Z3F7i4qcI',
 'zSwM5uVeylU',
 'BXmEmIK5aqI',
 'SLC5sPZSLY4',
 'EAezvs0eL1s',
 'k4r_NtB4JVQ',
 'ZWdyBbgGZBQ',
 '1FrY7ARSf10',
 'LGEuDWjWQes',
 'fjVVtvp5X0w',
 '-kX2b6TF_9k',
 '3ysXGYjvbSU',
 'akbU9KOo_Qc',
 '3BEtGaz70rQ',
 'RRXWJVX0fE8',
 'k-gin1qfzi0',
 'Zz_Mx1UPswI',
 '3Mm1U1CbzNw',
 '4yI3vVe0Jos',
 'pWVQ0vN5uig',
 'a-Syoa9mPhM',
 'yukdXV9LR48',
 'XWetgrNas-k',
 'yIJrCFXs0rU',
 'Z9dGmL2G-4k',
 'T7BQJJIGrmc',
 'T77uVbLhroQ',
 '1Cf7SdnBncg',
 '3cDM9Z-fdz4',
 'Yr5T3T4tq-g',
 'KMOA5arCi8g',
 'Z_KFh-HqaBA',
 '5jntoZX-Tc8',
 'AxP1CL0yaFQ',
 'zF_Q2v_9zKY',
 '4CpmB4TR2C4',
 '6sJEnzDjJqI',
 '1UjMBw_7Gi8',
 'q8cEt8gj3zY',
 '_CS4u9cORwA',
 'XTrlMQXYqts',
 'smeFkHwnM_k',
 'sq5TnVJWv6A',
 'XoUyK3XHZHs',
 'tv1e22u2COk',
 'j-Z-je6K4Yg',
 'sCOX5yShmFA',
 'FBgs-BSTIJE',
 'irjTWNV0eAY',
 'RRSRKf9eQxc',
 'IFceyuL6GZY',
 'Y_SMU701qlA',
 'qfRhKHV8-t4']

functions to get video details

In [24]:
def get_video_details(youtube, video_ids):
    
    all_video_stats = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
                    part='snippet,statistics',
                    id=','.join(video_ids[i:i+50]))
        response = request.execute()
        
        for video in response['items']:
           video_stats = dict(Title = video['snippet']['title'],
                              publish_Date = video['snippet']['publishedAt'],
                              views = video['statistics']['viewCount'],
                              likes = video['statistics']['likeCount'],
                              #dislike = video['statistics']['dislikeCount'],
                              comments = video['statistics']['commentCount']
           )
           all_video_stats.append(video_stats)
    
    return all_video_stats

In [25]:
video_Details = get_video_details(youtube, video_ids)

In [26]:
video_data = pd.DataFrame(video_Details)

In [27]:
video_data

,Title,publish_Date,views,likes,comments
0,The Data Content House: What You Missed,2022-10-07T13:00:04Z,8345,288,53
1,Is Data Science A Good Career?,2022-09-29T20:40:31Z,36963,1266,98
2,IRON ANALYST (Teaser) #shorts,2022-09-27T17:21:13Z,3444,226,21
3,When a New Data Scientist Joins The Team,2022-08-29T13:00:01Z,14302,650,123
4,State of Data Science - Web Data,2022-08-05T20:20:04Z,9988,353,33
...,...,...,...,...,...
236,How to Simulate NBA Games in Python,2018-11-19T23:31:49Z,16102,363,54
237,Should You Get A Masters in Data Science?,2018-11-14T01:39:33Z,20037,296,141
238,How I Became A Data Scientist From a Business ...,2018-11-12T00:26:08Z,6188,189,23
239,Predicting Season Long NBA Wins Using Multiple...,2018-07-10T16:39:52Z,8011,180,17
240,Predicting Crypto-Currency Price Using RNN lST...,2017-11-18T20:04:51Z,18145,282,41

In [50]:
video_data['publish_Date'] = video_data['publish_Date'].dt.date
video_data['views'] = pd.to_numeric(video_data['views'])
video_data['likes'] = pd.to_numeric(video_data['likes'])
video_data['comments'] = pd.to_numeric(video_data['comments'])

In [52]:
video_data.dtypes

Title           object
publish_Date    object
views            int64
likes            int64
comments         int64
dtype: object

In [43]:
top10_video = video_data.sort_values(by='views', ascending='False').head(10)

In [56]:
video_data['publish_Date'] = pd.to_datetime(video_data['publish_Date'],format='%y%m%d')

In [59]:
video_data.dtypes

Title                   object
publish_Date    datetime64[ns]
views                    int64
likes                    int64
comments                 int64
dtype: object

In [60]:
video_data['month'] = pd.to_datetime(video_data['publish_Date']).dt.strftime('%b')

In [61]:
video_data

,Title,publish_Date,views,likes,comments,month
0,The Data Content House: What You Missed,2022-10-07,8345,288,53,Oct
1,Is Data Science A Good Career?,2022-09-29,36963,1266,98,Sep
2,IRON ANALYST (Teaser) #shorts,2022-09-27,3444,226,21,Sep
3,When a New Data Scientist Joins The Team,2022-08-29,14302,650,123,Aug
4,State of Data Science - Web Data,2022-08-05,9988,353,33,Aug
...,...,...,...,...,...,...
236,How to Simulate NBA Games in Python,2018-11-19,16102,363,54,Nov
237,Should You Get A Masters in Data Science?,2018-11-14,20037,296,141,Nov
238,How I Became A Data Scientist From a Business ...,2018-11-12,6188,189,23,Nov
239,Predicting Season Long NBA Wins Using Multiple...,2018-07-10,8011,180,17,Jul
240,Predicting Crypto-Currency Price Using RNN lST...,2017-11-18,18145,282,41,Nov

In [62]:
video_data.to_excel("video_data.xlsx")